.disable {
    font-style: italic;
    color: #bcc0c8;
    pointer-events: none;
    user-select: none;
}

.abandoned {
    font-style: italic;
    color: #997f7f;
    /*pointer-events: none;*/
    /*user-select: none;*/
}

a {
    color: #040d28;
}

body{
    /*width: 80%;*/
    text-align: center;
    font-family: Calibri;
    font-size: large;
}

table{
    /*width: 95%;*/
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

.table td:first-child, .table th:first-child {
    /*padding: 5px 10px;*/
    width: 100px;
}

th,td{
    border: 1px solid #999;
    text-align: center;
    /*padding: 20px 0;*/
    /*padding: 5px 20px;*/
}

table thead tr{
    background-color: #319e9e;
    color: #0a0a0a;
}

table tbody tr:nth-child(odd){
    background-color: #eee;
}

table tbody tr:hover{
    background-color: #ccc;
}

table tbody tr td:first-child{
    color: #c87557;
    /*width: ;*/
}

table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}