

html {
	background: #D5DADD url(../img/bg-html.jpg) top left repeat-x;
	height: 100%;
	margin-bottom: 1px;
	overflow-y: scroll;
}






body { background: url(../img/bg-html.jpg) no-repeat; }

.noscript {display:none;}


.container {margin-top:1em; background-color:white;}


#logo {margin-top:1em; margin-bottom:0px; margin-left:.4em; }
/* #logo img {height:1.5em; width:4em;} */
#logotext {margin-top:2.2em; margin-bottom:0px; font-size:small; color:#777777; }
#headerlinks li  { display: inline; float:right; margin-left:.2em; margin-right:.2em; margin-top:2.2em; font-size:small; color:#666666; }
#headerlinks li a {text-decoration:none; }
#headerlinks li a:hover { color: #86180A; }
.headerdivider { color:grey; }

/* For google chrome frame */
.chromeFrameOverlayContent
.chromeFrameOverlayContent iframe
.chromeFrameOverlayCloseBar
.chromeFrameOverlayUnderlay